{
	"parserOptions": {
		"allowImportExportEverywhere": true,
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"env": {
		"es6": true
	},
	"rules": {
		// Disable rules for which there are eslint-plugin-babel replacements:
		// https://github.com/babel/eslint-plugin-babel#rules
		"class-methods-use-this": "off",
		"new-cap": "off",
		"no-invalid-this": "off",
		"no-shadow": "warn",
		"no-underscore-dangle": "off",
		"no-unused-expressions": "off",
		"no-unused-vars": "warn",
		"object-curly-spacing": "off",
		// "sourceType": "module",
		"quotes": [
			"error",
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"semi": "error"
	}
}
